<!DOCTYPE html>
<html>
<head>
    <title>Welcome to RNA Modification Prediction</title>
    <script type="text/javascript">
		function validateForm() {
			var username = document.forms["loginForm"]["username"].value;
			var password = document.forms["loginForm"]["password"].value;
			if (username == "" || password == "") {
				alert("Please enter your username and password.");
				return false;
			}
		}
	</script>
</head>
<body>
<h1>Welcome to RNA Modification Prediction</h1>
<form name="loginForm" onsubmit="return validateForm()">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="Login">
</form>
</body>
</html>
